---
layout: single
author_profile: true
---

{{ content }}

<!-- 기존 내용 아래에 다음 코드를 추가합니다 -->
<script src="https://giscus.app/client.js"
        data-repo="YangSeungWon/dev-issues-diary"
        data-repo-id="R_kgDOM2dYNw"
        data-category="Announcements"
        data-category-id="DIC_kwDOM2dYN84CiwZ3"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>